<ion-view title="CreateEvent">
	<ion-content padding="true" class="has-header" >
		<div class="center-container">
			<div class="center-row">
				<div class="center-block event-form">
					<br><br>
					<h2>Create An Event</h2>
					<form name="createevent" class="wc-form" ng-submit="DoCreateEvent()" >
							<input type="text" class="form-control" placeholder="Name of the event" ng-model="eventData.name" name="eventname" required>

							<textarea rows=3 class="form-control" placeholder="Description" ng-model="eventData.description" name="description"></textarea>
						<div class="btn-div">
    		              <button type="submit" class="button action-btn">Create »</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>