<ion-view title="DisplayEvent">
	<ion-content padding="true" class="has-header" >
		<div class="center-container">
			<div class="center-row">
				<div class="center-block">
					<br><br>
					<div class="error-message">{{ eventMgmtError }}</div>
					<h2><<Event Name>></h2>
					<h6 class="">event id</h6>
					<a id="ask-question" class="action-btn" href="/createquestion/">Ask a question</a>
					<div class="event-questions"></div>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>