<ion-view title="EventManagement">
	<ion-content padding="true" class="has-header" >
		<div class="center-container">
			<div class="center-row">
				<div class="center-block index-buttons">
					<br><br>
					<a class="create-btn" href="#/createevent">Create Event</a>
					<p class="meta">Or</p>
					<a class="join-btn" href="#/joinevent">Join Event</a>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>