<ion-view title="Settings" ng-controller="DeckManagementCtrl" >
	<div>
		<ion-nav-bar class="bar-stable">
			<ion-nav-buttons side="primary">
			<a href  class="right button button-icon icon ion-chevron-left" ng-href="#/viewdecks">Back</a>
     		</ion-nav-buttons>
		</ion-nav-bar>  
		<ion-nav-view></ion-nav-view>
	</div>
	<ion-content padding="true" class="has-header">
		<b>
		<div class="scroll">
			<div>
				<div class="list">
					<ion-item>
						<div class="item-content">
							<table width="100%" border="5"> 
							<tr><td align="left">Version</td><td align="right" class="grayout">1.0</td></tr>
							</table>
						</div>
					</ion-item>
					<ion-item>
						<div class="item-content">
							<table width="100%" border="5"> 
							<tr><td align="left">
							<a href ng-click="sendFeedback()">
							Send Feedback
							</a></td><td align="right">
							<a href ng-click="sendFeedback()" class="icon ion-chevron-right grayout"></a>
							</td></tr>
							</table>
						</div>

					</ion-item>
					<ion-item>
						<div class="item-content">
							<table width="100%" border="5"> 
							<tr><td align="left">
							<a  href="#" 
							onclick="window.open('http://memorisebible.com/', '_blank', 'location=yes'); return false;">
							Visit our website</a></td><td align="right">
							<a class="icon ion-chevron-right grayout" href="#" 
							onclick="window.open('http://memorisebible.com/', '_blank', 'location=yes'); return false;">
				            </a>
							</table>
						</div>
					</ion-item>
				</div>
			</div>
		</div>
		</b>
	</ion-content>
</ion-view>