<ion-view title="Signup" hide-nav-bar="true">
    <ion-content padding="true" scroll="false" class="has-header">
        <form name="signup" class="loginpadding" ng-submit="DoCreateuser()">
            <ion-list>
				<div class="error-message">{{ profileError }}</div>
				<div id="errormessages">
					 <div class="messages" ng-if="signup.username.$touched">
						  <div class="error-message" ng-show="signup.username.$error.required">Name is required.</div>
						  <div class="error-message" ng-show="signup.username.$error.email">Invalid Email.</div>
					</div>
					 <div class="messages" ng-if="signup.email.$touched">
						  <div class="error-message" ng-show="signup.email.$error.required">Email is required.</div>
						  <div class="error-message" ng-show="signup.email.$error.email">Invalid Email.</div>
					</div>

					<div ng-if="signup.pwd.$touched">
					   <div class="error-message" ng-show="signup.pwd.$error.required">Password field is required.</div>
					</div>
				</div>
				
                <label class="item item-input" name="name">
                    <span class="input-label">Name:</span>
                    <input type="text" placeholder="Your Name" name="username" ng-model="createuserData.name" required>
                </label>
                <label class="item item-input" name="email">
                    <span class="input-label">Email:</span>
                    <input type="email" placeholder="you@yourdomain.com" name="email" ng-model="createuserData.email" required>
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password:</span>
                    <input type="password" name="pwd" placeholder="Long &amp; Secretive" ng-model="createuserData.password" required>
                </label>
            </ion-list>
            	<button class="button button-positive button-block" type="submit" ng-disabled="!signup.$valid">Sign up</button>
			<br>
			Already registered? <a href="#/signin"> Signin</a>
        </form>
    </ion-content>
</ion-view>