<ion-view title="Signin" hide-nav-bar="true">
    <ion-content padding="true" class="has-header" >
    	<br><br>
    	<div class="center-container">
    		<div class="center-row">
		    	<div class="login-form center-block">
			    	<img src="img/logo.png">
    				<h1>Login</h1>
					<form name="signin" ng-submit="DoSignin()" >
						 <ion-list>
						<!-- <div class="error-message">{{ profileError }}</div> -->
						<div id="errormessages">
							 <div class="messages" ng-if="signin.email.$touched">
								  <div class="error-message" ng-show="signin.email.$error.required">Email is required.</div>
								  <div class="error-message" ng-show="signin.email.$error.email">Invalid Email.</div>
							</div>
							<div ng-if="signin.password.$touched">
							   <div class="error-message" ng-show="signin.password.$error.required">Password field is required.</div>
							</div>
						</div>

		
						<label class="item item-input form-control" name="email">
							<input type="email" placeholder="you@yourdomain.com" ng-model="loginData.email"  name="email" required>
						</label>   

						<label class="item item-input form-control" name="password">
							<input type="password" placeholder="long password" ng-model="loginData.password" name="password" ng-required="true">
						</label>

						 </ion-list>

						<button class="button action-btn" ng-disabled="!signin.$valid" type="submit">Login</button>
					</form>
		        </div>
		    </div>
		</div>
		<div class="actaction">
			<div class="actions">
		<span>New Here? <a title="signup" href="#/signup">Signup</a></span> / 
		<span>Forgot Password? <a title="forgot" href="#/forgot">Reset Password</a></span>
		</div>
		</div>
    </ion-content>
</ion-view>